/* Reset and base */
html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

* {
  box-sizing: border-box;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: #111;
  color: #fff;
}

.header .logo {
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

nav {
  display: flex;
  gap: 1.5rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}



.form-box {
  max-width: 500px;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
}

h2 {
  margin-bottom: 50px;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

textarea {
  resize: vertical;
  height: 80px;
}

button {
  margin-top: 20px;
  padding: 12px;
  width: 100%;
  border: none;
  background: #000;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  opacity: 0.9;
}
